*.DS_Store

cmake_*/
Cmake_*/
cmake-*/
.idea/
build
.vs
Release/*.*
Release
out

data/origin_data/PartGeometry/*.*
data/origin_data/Simulation/*.*

# These are downloaded via Cmake

ext/tbb
ext/Catch2
ext/clp
ext/.cache
