*.DS_Store

cmake_build_debug/
cmake-build-debug/
Cmake-build-debug-cmake316/
Cmake-build-release-cmake316/
\.idea/
\build
\cmake-build-release
\cmake-build-debug
\.vs
Release\*.*
Release
\out

data\origin_data\PartGeometry\*.*
data\origin_data\Simulation\*.*

# These are downloaded via Cmake

ext/tbb
ext/Catch2
ext/.cache
