*.DS_Store

cmake_*/
Cmake_*/
cmake-*/
.idea/
Xcode/*
build
.vs
Release/*.*
Release
out
ipopt.out 

data/origin_data/PartGeometry/*.*
data/origin_data/Simulation/*.*

# These are downloaded via Cmake

ext/tbb
ext/Catch2
ext/clp
ext/.cache
ext/shapeop
ext/libigl
ext/filesystem
ext/eigen
ext/pugixml
ext/pybind11

# Sphinx doc
docs/build
