[submodule "ext/filesystem"]
	path = ext/filesystem
	url = https://github.com/wjakob/filesystem.git
[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
