language: cpp
dist: trusty
sudo: false

# Only build master branch, other branches will have a Pull Request build.
branches:
  only:
    - master

matrix:
  include:
    - os: linux
      compiler: gcc-4.8
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - deadsnakes
            - kubuntu-backports
          packages:
            - g++-8
            - libglu1-mesa-dev
            - libxxf86vm-dev
            - libxrandr-dev
            - libxinerama-dev
            - libxcursor-dev
            - libxi-dev
            - libx11-dev
            - coinor-libipopt-dev
            - cmake
      script:
        - cmake --version
        - cmake .
        - make -j 2
    - os: osx
      osx_image: xcode11.5
      compiler: clang
      script:
        - cmake --version
        - cmake .
        - make -j 2
